$first: #01AE92 !default;
$second: #01AE92 !default;
$third: #01AE92 !default;
$fourth: #01AE92 !default;

$black: #000 !default;
$white: #FFF !default;

$detail1: #181818 !default;
$detail2: #666666 !default;
$detail3: #9B9B9B !default;
$detail4: #232323 !default;
$lightDetail1: #E0E0D0 !default;
$lightDetail2: #F3F3ED !default;
$lightDetail3: #F0F0F0 !default;
$lightDetail4: #F6F6F6 !default;
$lightDetail5: #FAFAFA !default;

$alert: #C95B5A !default;
$warn: #F6D082 !default;
$success: #02C9A9 !default;
$info: #58B5E2 !default;

$customColors: ();
