$node-modules-path: '../node_modules' !default;
$icomoon-font-path: 'amon-sass/icons' !default;

$icons: (
  'cnIconAmazon': "\e900",
  'cnIconAndroid': "\e901",
  'cnIconAngellist': "\e902",
  'cnIconAngleLeft': "\e903",
  'cnIconAngleRight': "\e904",
  'cnIconApple': "\e905",
  'cnIconBars': "\e906",
  'cnIconBehance': "\e907",
  'cnIconCaretDown': "\e908",
  'cnIconCaretLeft': "\e909",
  'cnIconCaretRight': "\e90a",
  'cnIconCaretUp': "\e90b",
  'cnIconClose': "\e90c",
  'cnIconCodepen': "\e90d",
  'cnIconDelicious': "\e90e",
  'cnIconDigg': "\e90f",
  'cnIconDots': "\e910",
  'cnIconDribble': "\e911",
  'cnIconDropbox': "\e912",
  'cnIconEtsyShort': "\e913",
  'cnIconEtsy': "\e914",
  'cnIconEvernote': "\e915",
  'cnIconFacebook': "\e916",
  'cnIconFlikr': "\e917",
  'cnIconFoursquare': "\e918",
  'cnIconGithub': "\e919",
  'cnIconGoogledrive': "\e91a",
  'cnIconGoogleplay': "\e91b",
  'cnIconGoogleplus': "\e91c",
  'cnIconHabrahabr': "\e91d",
  'cnIconInstagram': "\e91e",
  'cnIconLike': "\e91f",
  'cnIconLinkedin': "\e920",
  'cnIconMail': "\e921",
  'cnIconMap': "\e922",
  'cnIconMedium': "\e923",
  'cnIconOk': "\e924",
  'cnIconPhone': "\e925",
  'cnIconPinterestLight': "\e926",
  'cnIconPinterest': "\e927",
  'cnIconPlusCircle': "\e928",
  'cnIconQuora': "\e929",
  'cnIconQuotesClose': "\e92a",
  'cnIconQuotesOpen': "\e92b",
  'cnIconReddit': "\e92c",
  'cnIconRss': "\e92d",
  'cnIconSkype': "\e92e",
  'cnIconSmile': "\e92f",
  'cnIconStackoverflow': "\e930",
  'cnIconStumbleupon': "\e931",
  'cnIconSwarm': "\e932",
  'cnIconThunder': "\e933",
  'cnIconTripadvisor': "\e934",
  'cnIconTumblr': "\e935",
  'cnIconTwitter': "\e936",
  'cnIconVerticalDots': "\e937",
  'cnIconVimeo': "\e938",
  'cnIconVk': "\e939",
  'cnIconWindows': "\e93a",
  'cnIconWordpress': "\e93b",
  'cnIconYelp': "\e93c",
  'cnIconYoutubePlay': "\e93d",
  'cnIconYoutube': "\e93e",
);
