$xxxSmallSize: rem(2) !default;
$xxSmallSize: rem(6) !default;
$xSmallSize: rem(8) !default;
$smallSize: rem(12) !default;
$mediumSize: rem(18) !default;
$largeSize: rem(22) !default;
$xLargeSize: rem(29) !default;
$xxLargeSize: rem(36) !default;
$xxxLargeSize: rem(42) !default;
$hugeSize: rem(120) !default;
$xHugeSize: rem(240) !default;
$xxHugeSize: rem(480) !default;
$xxxHugeSize: rem(600) !default;

$maxWidth: em(980px) !default;
$smallBreakpoint: em(650) !default
$largeBreakpoint: em(960) !default
$xLargeBreakpoint: em(1450) !default
$xxLargeBreakpoint: em(1650) !default

$customSizes: ();
