$firstFontFamily: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif !default;
$secondFontFamily: Futura, "Trebuchet MS", Arial, sans-serif !default;

$xxxLargeFont: rem(72) !default;
$xxLargeFont: rem(44) !default;
$xLargeFont: rem(32) !default;
$largeFont: rem(28) !default;
$mediumFont: rem(22) !default;
$mainFont: rem(18) !default;
$smallFont: rem(14) !default;
$xSmallFont: rem(12) !default;
$xxSmallFont: rem(10) !default;
$xxxSmallFont: rem(6) !default;

$customFontsFamilies: ();
$customFontsSizes: ();
