@font-face {
  font-family: 'amon';
  src:  url('#{$node-modules-path}/#{$icomoon-font-path}/amon.eot?dvoil7');
  src:  url('#{$node-modules-path}/#{$icomoon-font-path}/amon.eot?dvoil7#iefix') format('embedded-opentype'),
    url('#{$node-modules-path}/#{$icomoon-font-path}/amon.ttf') format('truetype'),
    url('#{$node-modules-path}/#{$icomoon-font-path}/amon.woff') format('woff'),
    url('#{$node-modules-path}/#{$icomoon-font-path}/amon.svg?dvoil7#amon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="cn-icon"], [class*=" cn-icon"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'amon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.cn-icon-amazon {
  &:before {
    content: $cn-iconamazon;
  }
}
.cn-icon-android {
  &:before {
    content: $cn-iconandroid;
  }
}
.cn-icon-angellist {
  &:before {
    content: $cn-iconangellist;
  }
}
.cn-icon-angle-left {
  &:before {
    content: $cn-iconangle-left;
  }
}
.cn-icon-angle-right {
  &:before {
    content: $cn-iconangle-right;
  }
}
.cn-icon-apple {
  &:before {
    content: $cn-iconapple;
  }
}
.cn-icon-bars {
  &:before {
    content: $cn-iconbars;
  }
}
.cn-icon-behance {
  &:before {
    content: $cn-iconbehance;
  }
}
.cn-icon-caret-down {
  &:before {
    content: $cn-iconcaret-down;
  }
}
.cn-icon-caret-left {
  &:before {
    content: $cn-iconcaret-left;
  }
}
.cn-icon-caret-right {
  &:before {
    content: $cn-iconcaret-right;
  }
}
.cn-icon-caret-up {
  &:before {
    content: $cn-iconcaret-up;
  }
}
.cn-icon-close {
  &:before {
    content: $cn-iconclose;
  }
}
.cn-icon-codepen {
  &:before {
    content: $cn-iconcodepen;
  }
}
.cn-icon-delicious {
  &:before {
    content: $cn-icondelicious;
  }
}
.cn-icon-digg {
  &:before {
    content: $cn-icondigg;
  }
}
.cn-icon-dots {
  &:before {
    content: $cn-icondots;
  }
}
.cn-icon-dribble {
  &:before {
    content: $cn-icondribble;
  }
}
.cn-icon-dropbox {
  &:before {
    content: $cn-icondropbox;
  }
}
.cn-icon-etsy-short {
  &:before {
    content: $cn-iconetsy-short;
  }
}
.cn-icon-etsy {
  &:before {
    content: $cn-iconetsy;
  }
}
.cn-icon-evernote {
  &:before {
    content: $cn-iconevernote;
  }
}
.cn-icon-facebook {
  &:before {
    content: $cn-iconfacebook;
  }
}
.cn-icon-flikr {
  &:before {
    content: $cn-iconflikr;
  }
}
.cn-icon-foursquare {
  &:before {
    content: $cn-iconfoursquare;
  }
}
.cn-icon-github {
  &:before {
    content: $cn-icongithub;
  }
}
.cn-icon-googledrive {
  &:before {
    content: $cn-icongoogledrive;
  }
}
.cn-icon-googleplay {
  &:before {
    content: $cn-icongoogleplay;
  }
}
.cn-icon-googleplus {
  &:before {
    content: $cn-icongoogleplus;
  }
}
.cn-icon-habrahabr {
  &:before {
    content: $cn-iconhabrahabr;
  }
}
.cn-icon-instagram {
  &:before {
    content: $cn-iconinstagram;
  }
}
.cn-icon-like {
  &:before {
    content: $cn-iconlike;
  }
}
.cn-icon-linkedin {
  &:before {
    content: $cn-iconlinkedin;
  }
}
.cn-icon-mail {
  &:before {
    content: $cn-iconmail;
  }
}
.cn-icon-map {
  &:before {
    content: $cn-iconmap;
  }
}
.cn-icon-medium {
  &:before {
    content: $cn-iconmedium;
  }
}
.cn-icon-ok {
  &:before {
    content: $cn-iconok;
  }
}
.cn-icon-phone {
  &:before {
    content: $cn-iconphone;
  }
}
.cn-icon-pinterest-light {
  &:before {
    content: $cn-iconpinterest-light;
  }
}
.cn-icon-pinterest {
  &:before {
    content: $cn-iconpinterest;
  }
}
.cn-icon-plus-circle {
  &:before {
    content: $cn-iconplus-circle;
  }
}
.cn-icon-quora {
  &:before {
    content: $cn-iconquora;
  }
}
.cn-icon-quotes-close {
  &:before {
    content: $cn-iconquotes-close;
  }
}
.cn-icon-quotes-open {
  &:before {
    content: $cn-iconquotes-open;
  }
}
.cn-icon-reddit {
  &:before {
    content: $cn-iconreddit;
  }
}
.cn-icon-rss {
  &:before {
    content: $cn-iconrss;
  }
}
.cn-icon-skype {
  &:before {
    content: $cn-iconskype;
  }
}
.cn-icon-smile {
  &:before {
    content: $cn-iconsmile;
  }
}
.cn-icon-stackoverflow {
  &:before {
    content: $cn-iconstackoverflow;
  }
}
.cn-icon-stumbleupon {
  &:before {
    content: $cn-iconstumbleupon;
  }
}
.cn-icon-swarm {
  &:before {
    content: $cn-iconswarm;
  }
}
.cn-icon-thunder-aa {
  &:before {
    content: $cn-iconthunder-aa;
  }
}
.cn-icon-tripadvisor {
  &:before {
    content: $cn-icontripadvisor;
  }
}
.cn-icon-tumblr {
  &:before {
    content: $cn-icontumblr;
  }
}
.cn-icon-twitter {
  &:before {
    content: $cn-icontwitter;
  }
}
.cn-icon-vertical-dots {
  &:before {
    content: $cn-iconvertical-dots;
  }
}
.cn-icon-vimeo {
  &:before {
    content: $cn-iconvimeo;
  }
}
.cn-icon-vk {
  &:before {
    content: $cn-iconvk;
  }
}
.cn-icon-windows {
  &:before {
    content: $cn-iconwindows;
  }
}
.cn-icon-wordpress {
  &:before {
    content: $cn-iconwordpress;
  }
}
.cn-icon-yelp {
  &:before {
    content: $cn-iconyelp;
  }
}
.cn-icon-youtube-play {
  &:before {
    content: $cn-iconyoutube-play;
  }
}
.cn-icon-youtube {
  &:before {
    content: $cn-iconyoutube;
  }
}
